<app-Header></app-Header>
<hr />
<div style="text-align:center;">
    <h3>Customer Credit Card Details</h3>
</div>
<hr />

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Annual Income</th>
            <th>Contact Number</th>
            <th>Aadhar Number</th>
            <th>Credit Card Number</th>
            <th>CVV</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <ng-container *ngFor="let card of customer.CreditCards">
                <td>{{ customer.customerId }}</td>
                <td>{{ customer.customerName }}</td>
                <td>{{ customer.annualIncome }}</td>
                <td>{{ customer.contactNumber }}</td>
                <td>{{ customer.aadharNumber }}</td>
                <td>{{ card.creditCardNumber }}</td>
                <td>{{ card.cvv }}</td>
            </ng-container>
        </tr>
    </tbody>
</table>

