<!--
<div class="content">
  <div class="logo">
    <img [src]="//">
</div>
<div class="top">

  <ul class="DropDown">
      <li><a routerLink="/Create" routerLinkActive="active" id="Create">Create</a></li>
      <li><a routerLink="/FetchById" routerLinkActive="active" id="FetchById">CustomerById</a></li>
      <li><a routerLink="/FetchAllCustomer" routerLinkActive="active" id="service">AllCustomersDetails</a></li>
      <li><a routerLink="/FetchCreditCardDetails" routerLinkActive="active" id="service">CreditCardDetails</a></li>
      <li><a routerLink="/FetchProviderDetails" routerLinkActive="active" id="service">ProviderDetails</a></li>
      <li><a routerLink="/FetchCityDetails" routerLinkActive="active" id="service">CityDetails</a></li>
      <li><a routerLink="/CustomerFetchProvider" routerLinkActive="active" id="service">CustomerWithProviderDetails</a></li>
      <li><a routerLink="/Login" routerLinkActive="active" id="login">Login</a></li>

  </ul>
  </div>
</div> -->

